<ion-view view-title="Tim y Mar graphs">
    <ion-content class="padding" on-swipe-left="nextTab()" on-swipe-right="previousTab()">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <h4>{{title}}</h4>
        <div style="height:100%; width: 100%;">
            <canvas style="width: 100% !important; height:auto !important" 
                    id="line" 
                    class="chart chart-line" 
                    data="graph.data" 
                    labels="graph.labels" 
                    series='graph.series'
                    height="600" width="550">
            </canvas>
        </div>
        <button class="button button-stable" data-ng-repeat="button in buttons" data-ng-click="changeGraph(button)">
            {{button.name}}
        </button>
    </ion-content>
</ion-view>
