<ion-view view-title="Tim y Mar heating">
    <ion-content class="padding" on-swipe-left="nextTab()" on-swipe-right="previousTab()">
        <div class="list list-inset">
            <div data-ng-click="changeGraph(button)" class="item"  data-ng-repeat="button in buttons">
                {{button.name}}
            </div>
        </div>
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <h4>{{title}}</h4>
        <div style="height:100%; width: 100%;">
            <canvas style="width: 100% !important; height:auto !important"
                    id="line"
                    legend="true"
                    class="chart chart-bar"
                    data="graph.data"
                    labels="graph.labels"
                    series='graph.series'
                    height="600" width="550"></canvas>
        </div>
    </ion-content>
</ion-view>
