<!--
Create tabs with an icon and label, using the tabs-stable style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-stable">
    <ion-tab title="Weather" icon-off="ion-ios-rainy-outline" icon-on="ion-ios-rainy" href="#/tab/weather">
        <ion-nav-view name="tab-weather"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Scenes" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/scenes">
        <ion-nav-view name="tab-scenes"></ion-nav-view>
    </ion-tab>
</ion-tabs>
