<!--
Create tabs with an icon and label, using the tabs-stable style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-stable">
    <ion-tab title="Weather" icon-off="ion-ios-rainy-outline" icon-on="ion-ios-rainy" href="#/tab/weather">
        <ion-nav-view name="tab-weather"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Graphs" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tab/graphs">
        <ion-nav-view name="tab-graphs"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Heating" icon-off="ion-ios-flame-outline" icon-on="ion-ios-flame" href="#/tab/heating">
        <ion-nav-view name="tab-heating"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Scenes" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/scenes">
        <ion-nav-view name="tab-scenes"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon-off="ion-ios-settings" icon-on="ion-ios-settings-strong" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>

</ion-tabs>
